<label
    for="my-modals-2"
    class="modal_button cursor-pointer flex items-center justify-center overflow-hidden whitespace-nowrap w-14 h-14 mx-auto mt-3 text-green-400 transition-all hover:duration-[300ms] bg-gray-700 rounded-[50%] hover:text-white hover:bg-teal-500 hover:rounded-[30%] modal-button"
>
    <i class="fa-solid fa-magnifying-glass"></i>
</label>
<input type="checkbox" id="my-modals-2" class="modal-toggle" />
<div class="modal">
    <div class="modal-box flex justify-center">
        <form action="{% url 'chat:list' %}" method="GET" class="text-center">
            {% csrf_token %}
            <input
                name="kw"
                type="text"
                placeholder="채팅방 찾기"
                class="p-4 text-lg rounded bg-gray-900 text-gray-200 h-12 py-1 w-[16em]"
            />
            <label for="my-modals-2" class="btn btn-ghost bg-green-500 hover:bg-white hover:text-green-500"> 검색하기 </label>
            <label for="my-modals-2" class="btn close-are">취소</label>
        </form>
    </div>
</div>
