{% extends 'm_base/m_layout.html' %}
{% block app %}
<div class="text-white">
    {% if rooms %}
    {% for room in rooms %}
    <div class="t-border-b t-border-gray-600 t-mx-4 t-mt-3">
        <div>
            <button class="t-bg-gray-700 t-text-white t-w-24 t-h-24">
                <i class="fas fa-users fa-2x t-w-24 t-h-12"></i>
                {{ room.name }}
            </button>
            {% if room.part_server %}
            
            <button>
                <a href="{% url 'chat:detail' room.id %}" class="btn btn-success">
                    서버 참가중
                </a>
            </button>
            <button>
                <a href="{% url 'chat:exit_server' room.id %}" class="btn btn-danger">
                    서버 나가기
                </a>
            </button>
        {% else %}
        <a href="{% url 'chat:access_server' room.id %}" class="btn btn-success">
            서버 참가
        </a>
        {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>채팅방 is lonely...</h1>
    {% endif %}
</div>
{% endblock %}