version: '3'
services:
  django:
    build : .
    command : bash -c "gunicorn --reload --bind :8022 base.wsgi:application"
    # command : tail -f /dev/null
    container_name: python__2
    hostname: root
    ports:
      - 8022:8022
    volumes:
      - .:/usr/src/app