{% extends 'layout.html' %}
{% block content %}
{% if room %}
{% include 'chat/js/chat_logic.html' %}
<h1>
    "{{ room.name }}" 채팅방 입니다.
</h1>


{% else %}
<h1>채팅방이 찾을수가 없어요...ㅠㅠ 안타깝..</h1>
{% endif %}
<link rel="stylesheet" href="/base/templates/chatting_room.css">
<div class="chat-messages"></div>
<form action="{% url 'chat:message_write' %}" onsubmit="ChickChatForm__submit(this); return false;">
    {% csrf_token %}
    <input type="text" style="display:none" name="room_id" value="{{room.id}}">
    <input type="text" placeholder="작성자" name="writer">
    <input type="text" placeholder="메세지 보내기..." name="body">
    <input type="submit" value="작성">
</form>
    <button >
     <a href="">나가기</a>
    </button>

{% endblock %}


