{% extends 'layout.html' %}
{% block content %}
{% if room %}
{% include 'chat/js/chat_logic.html' %}
<hr>
<h3 style="color:white" class="d-flex justify-content-between px-3">
    <span>{{ room.name }}</span>
    <button class="btn btn-danger" onclick="history.back()">이전 페이지</button>
</h3>
<hr>
<div class="chat-messages text-white mb-4"></div>
<div class="mb-3" style="position: fixed; bottom: 0; width: 70%;">
    <form action="{% url 'chat:message_write' %}" onsubmit="ChickChatForm__submit(this); return false;">
        {% csrf_token %}
        <input type="hidden" name="room_id" value="{{room.id}}">
        <input type="hidden" placeholder="작성자" name="writer">
        <div class="input-group">
            <input class="form-control text-white" type="text" placeholder="메세지 보내기..." name="body"
                   style="background-color: rgb(77, 74, 74);">
        </div>
    </form>
</div>

{% else %}
<h1>채팅방을 찾을수가 없어요...ㅠㅠ 안타깝..</h1>
{% endif %}
{% endblock %}
