{% extends 'layout.html' %}
{% block content %}
{% if rooms %}
{% for room in rooms %}
<h5 class="my-3 border-bottom pb-2">
    채팅방 이름 : {{ room.name }}
</h5>
{% if room.part_server %}
<a href="{% url 'chat:detail' room.id %}" class="btn btn-success">
    참가중인 서버
</a>
<a href="{% url 'chat:exit_server' room.id %}" class="btn btn-danger">
    서버 나가기
</a>
{% else %}
<a href="{% url 'chat:access_server' room.id %}" class="btn btn-success">
    서버 참가
</a>
{% endif %}
{% endfor %}
{% else %}
<h1>채팅방 is alone...</h1>
{% endif %}
{% endblock %}