{% extends 'layout.html' %} {% block head %}
{% endblock %} 
{% block content %}
<label for="my-modal-2" class="cursor-pointer flex items-center justify-center overflow-hidden whitespace-nowrap w-14 h-14 mt-3 text-green-400 transition-all hover:duration-[300ms] bg-gray-800 rounded-[50%] hover:text-white hover:bg-teal-500 hover:rounded-[30%]">
    <i class="fas fa-plus fa-1x"></i>
</label> 
<input type="checkbox" id="my-modal-2" class="modal-toggle hidden"> 
<div class="modal">
  <div class="modal-box">
    <p>Enim dolorem dolorum omnis atque necessitatibus. Consequatur aut adipisci qui iusto illo eaque. Consequatur repudiandae et. Nulla ea quasi eligendi. Saepe velit autem minima.</p> 
    <div class="modal-action">
      <label for="my-modal-2" class="btn btn-primary">Accept</label> 
      <label for="my-modal-2" class="btn">Close</label>
    </div>
  </div>
</div>
{% endblock %} 

{% block foot %}
<script>
  $(function () {
    $("#modal_button").click(function () {
      $(".modal-overlay").fadeIn();
    });

    $(".close-area").click(function () {
      $(".modal-overlay").fadeOut();
    });
  });
</script>
{% endblock %}
