{% extends 'layout.html' %}

{% block content %}
<!-- 부모의 content위치에 -->
    {% block app %}
    <!-- 자식의 app을 위치시킴 -->
    {% endblock %}
{% endblock %}
{% block input %}
<!-- chat페이지 공용 -->
{% if room %}
<div class="t-bg-gray-700 t-h-24 t-flex t-items-center t-mx-3 t-border-t t-border-gray-600">
    <button class="t-px-2 t-py-2 t-h-10 t-bg-gray-600 t-rounded-l t-text-gray-700 hover:t-text-white t-border-r t-border-gray-600">
        <i class="fas fa-plus-circle"></i>
    </button>
    <div id="message_form" class="t-flex-1 ">
        <form action="{% url 'chat:message_write' %}" onsubmit="ChickChatForm__submit(this); return false;">
        {% csrf_token %}
        <input type="hidden" name="room_id" value="{{room.id}}">
        <input type="hidden" placeholder="작성자" name="writer">
        <input id="message_input" placeholder="메세지보내기.." name="body" type="text" class="t-w-full t-text-sm t-h-10 t-px-2 t-py-2 t-bg-gray-600 t-text-gray-200 focus:t-outline-none t-rounded">
        </form>
    </div>
</div>
{% endif %}
{% endblock %}