<!doctype html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <title>ParaCode</title>

    <link rel="stylesheet" href="{% static 'tailwind.output.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'base.css' %}">


</head>
<body>
{% include "sidebar.html" %}
<div id='ava'>
    <div id='box-left'>
        <div class="d-grid">
            <div class="form-group d-flex" style="margin: 8px; background: rgb(26, 25, 25);">
                <form action="{% url 'accounts:searching_user' %}" method="GET">
                    <input name="kw" type="text" class="form-control d-flex border-0 pe-0" placeholder="유저 찾기"
                           id="inputDefault" style="background: rgb(26, 25, 25); color: white;">
                </form>

            </div>
            <a href="{% url 'accounts:user_list' %}" class="btn btn-lg btn-primary"
               style="background-color: rgb(33, 33, 36); margin: 8px; text-align: left; font-size: 12pt;">
                <i class="fas fa-users"></i>
                친구
            </a>
            <div style="font-size: 13px; margin-left: 15px; margin-top: 10px;">
                찾은 유저
                {% if search_user %}
                {{search_user}}
                {% endif %}
            </div>

        </div>
    </div>
    <div id='box-center' class="none-display-scroll">
        <div class="top-button">
            <a href="{% url 'accounts:user_list_all' %}">모두</a>
            <a href="{% url 'accounts:user_list_online' %}">온라인</a>
            <button href=""
                    style=" color: rgb(255, 255, 255);  background-color: rgb(27, 216, 90); border: none; border-radius: 1.5rem;">
                친구추가
            </button>
        </div>

        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-{{message.tags}}">
            {{ message }}
        </div>

        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <div id='box-right' class="text-white">
        <h5>온라인</h5>
    </div>
</div>
</body>
</html>