<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>chicken's talk</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
{% include "navbar.html" %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>
