<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <div class="d-flex flex-column flex-shrink-0  text-white h-100 fixed-top overflow-auto none-display-scroll"
     style="width: 5.5rem; background: rgb(32, 34, 37);">
    <ul class=" nav nav-pills nav-flush flex-column mb-auto text-center text-white">
        <div style="font-weight: bold; color: rgb(68, 63, 63);">
            Paracord
        </div>
        <li class="nav-item w-100">
            <a href="{% url 'chat:list' %}" class="nav-link py-2" aria-current="page" title=""
               data-bs-toggle="tooltip"
               data-bs-placement="right" data-bs-original-title="Home" style="padding: 8px;">
                <span style="color: rgb(3, 194, 105);">
                    <button type="button" class="text-nowrap overflow-hidden text-center" id="btn-7">
                        <i class="fas fa-dragon fs-4"></i>
                    </button>

                </span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a href="{% url 'chat:create' %}" class="nav-link py-2" aria-current="page" title=""
               data-bs-toggle="tooltip"
               data-bs-placement="right" data-bs-original-title="Home" style="padding: 8px;">
                <span style="color: rgb(3, 194, 105);">
                    <button type="button" class="text-nowrap overflow-hidden text-center" id="btn-7">
                        <i class="fas fa-plus fa-1x"></i>
                    </button>
                    
                </span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a href="/" class="nav-link py-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
               data-bs-original-title="Dashboard" style="color: rgb(3, 194, 105); padding: 8px;">
                <button type="button" class="text-nowrap overflow-hidden text-center" id="btn-7">
                    <i class="fas fa-user-plus fa-1x"></i>
                </button>

            </a>
        </li>
        <li class="nav-item w-100">
            <a href="{% url 'accounts:logout' %}" class="nav-link py-2" title="" data-bs-toggle="tooltip"
               data-bs-placement="right"
               data-bs-original-title="Orders" style="color: rgb(3, 194, 105); padding: 8px;">
                <button type="button" class="text-nowrap overflow-hidden text-center" id="btn-7">
                    <i class="fas fa-sign-out-alt fs-4"></i>
                </button>

            </a>
        </li>
        <li class="nav-item w-100">
            <a href="{% url 'chat:my_server_list' %}" class="nav-link py-2" title="" data-bs-toggle="tooltip"
               data-bs-placement="right"
               data-bs-original-title="Customers" style="color: rgb(3, 194, 105); padding: 8px">
                <button type="button" class="text-nowrap overflow-hidden text-center" id="btn-7">
                    <i class="far fa-list-alt fs-4"></i>
                </button>

            </a>
        </li>
        {% if user %}
        {% for room in user.part_server.all %}
        <li class="nav-item w-100">
            <a href="{% url 'chat:detail' room.id %}" class="nav-link py-2 margin" title="" data-bs-toggle="tooltip"
               data-bs-placement="right"
               data-bs-original-title="Customers" style="color: rgb(3, 194, 105); padding-left: 11px;">

                <button title="{{ room.name }}" type="button" class="text-nowrap overflow-hidden text-center" id="btn-6">
                    
                    {{ room.name }}
                </button>

            </a>
        </li>


        {% endfor %}
        {% endif %}

    </ul>
    <div class="dropdown border-top">
        <a href="/"
           class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle text-white"
           id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
            {{user.nickname}}
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>
</body>
</html>