<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<div>
    Chicken's Talk
</div>
<body>
<div>
    <form method="POST">
        <input type="search" name="search_keyword"
               placeholder="아이디를 입력해주세요."
               aria-label="id">
    </form>
    <input type="search" name="search_keyword"
           placeholder="비밀번호를 입력해주세요."
           aria-label="pw">
    <button>
        <div class="card-header">
            <a href="login">로그인</a>
        </div>
    </button>
    <button>
        <a>회원가입</a>
    </button>
</div>
</body>
</html>