{% extends 'layout.html' %} {% block content %}
<div class="t-ml-8 t-mt-4 t-mb-2 t-text-white t-text-lg">친구 추가하기</div>
<div class="t-ml-8 t-mb-6">
  Paracord 닉네임을 입력하시면 친구추가를 할수있어요.
</div>
<form action="{% url 'accounts:searching_user' %}" method="GET" class="t-text-center">
    <input name="kw" type="text" placeholder="사용자명"
        class="t-p-4 t-text-lg t-rounded t-bg-gray-900 t-text-gray-200 t-w-4/5 t-h-12 t-py-2">
    <button class="t--ml-24 t-text-lg t-bg-green-400 t-text-white t-rounded t-w-20">검색하기</button>
</form>

<div class="t-border-b t-mt-10 t-border-gray-600"></div>

<div class="t-text-white">
    {% for i in find_friend %}
    <div class="t-ml-8 t-mt-4 t-mb-2 t-text-white t-text-lg">
        찾은 유저
    </div>
    <div class="t-ml-8 t-mb-6 t-text-gray-400">
        친구를 찾았어요! 친구추가 버튼을 누르면 우린 친구!
    </div>
    <div class="t-ml-8">
        {{i.nickname}}
        <a href=" {% url 'accounts:add_friend' i.id %}" class="btn btn-success">
        <button class="t-bg-green-400 t-text-white t-rounded t-w-14">친구추가</button>
        </a>
    </div>

    {% endfor %}
</div>
{% endblock %}
