{% extends 'layout/layout.html' %} {% block content %}
{% if messages %}
<div class="alert_mt transition-all !duration-1000 mt-[4.5rem]"></div>
{% endif %}
<div class="ml-8 mt-4 mb-2 text-white text-lg">친구 추가하기</div>
<div class="ml-8 mb-6">
  Paracord 닉네임을 입력하시면 친구추가를 할수있어요.
</div>
<form
  action="{% url 'accounts:searching_user' %}"
  method="GET"
  class="text-center"
>
  <input
    name="kw"
    type="text"
    placeholder="사용자명"
    class="p-4 text-lg rounded bg-gray-900 text-gray-200 w-4/5 h-12 py-2"
  />
  <button
    class="-ml-24 text-lg bg-green-400 text-white rounded w-20"
  >
    검색하기
  </button>
</form>

<div class="border-b mt-10 border-gray-600"></div>

<div class="text-white">
  <div class="ml-8 mt-4 mb-2 text-white text-lg">찾은 유저</div>
  {% if find_friend %}
  <div class="ml-8 mb-6 text-gray-400">
    친구를 찾았어요! 친구추가 버튼을 누르면 우린 친구!
  </div>
  {% for i in find_friend %}
  <br />
  <div
    class="hover:rounded ml-24 bg-gray-700 hover:bg-gray-600 w-4/5 border-b border-gray-500 text-white flex justify-between"
  >
    <button class="mt-4 mb-4 flex">
      {% if i.is_active == 0 %}
      <i class="fas fa-circle text-red-600"></i>
      <div class="ml-8">{{i.nickname}}</div>
      {% else %}
      <div>
        <i class="fas fa-circle text-green-400 mt-1"></i>
      </div>
      <div class="ml-8">
        {{i.nickname}} {% if user == i %}
        <span class="bg-gray-700">[본인]</span>
        {% endif %}
      </div>
      {% endif %}
    </button>
    <a href="{% url 'accounts:add_friend' i.id %}">
      <button class="bg-green-500 rounded w-14 mt-4">친구추가</button>
    </a>
  </div>

  {% endfor %} {% else %}
  <div class="ml-8 mb-6 text-gray-400">
    검색된 친구가 없어요.. 외롭네요ㅠㅠ
  </div>
  {% endif %}
</div>
{% endblock %}
