#chat_scroll {
    scrollbar-width: thin;
}

#side_scroll {
    scrollbar-width: none;
}

#chat_scroll::-webkit-scrollbar {
    width: 12px;
    background: black;
}

#chat_scroll::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

#chat_scroll::-webkit-scrollbar-track {
    background-color: rgb(61, 69, 90);
    box-shadow: inset 0px 0px 5px rgb(64, 64, 66);
}

#side_scroll::-webkit-scrollbar {
    width: 12px;
    background: black;
    display: none;
}

#side_scroll::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
    display: none;
}

#side_scroll::-webkit-scrollbar-track {
    background-color: rgb(61, 69, 90);
    box-shadow: inset 0px 0px 5px rgb(64, 64, 66);
    display: none;
}

#on_off_scroll::-webkit-scrollbar {
    width: 12px;
    background: black;
}

#on_off_scroll::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

#on_off_scroll::-webkit-scrollbar-track {
    background-color: rgb(61, 69, 90);
    box-shadow: inset 0px 0px 5px rgb(64, 64, 66);
}