<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Paracord Mobile</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'common.css' %}" type="text/css">
    <link rel="shortcut icon" href="#">
</head>
<body class="t-max-w-[1024] t-mt-[2rem]">
    {% include 'm_navbar.html' %}
    <div class="">
        <div class="t-w-full">
            <div class="t-bg-green-300">
                채팅 내용
            </div>
            <div class="t-bg-indigo-300 t-w-full t-fixed t-inset-x-0 t-bottom-0">
                채팅 인풋
            </div>
        </div>
    </div>
</body>
</html>