<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Paracord Mobile</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'common.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
    <link rel="shortcut icon" href="#">
</head>

<body class="t-bg-black">
    <div class="t-max-w-[1024px] t-w-screen t-min-h-screen t-m-auto">
        <div class="t-flex t-bg-indigo-300 t-w-full">
            {% include 'm_base/m_my_server.html' %}
        </div>
        <div class="t-flex t-w-full">
            {% include 'm_base/m_navbar.html' %}
        </div>
        <div class="t-flex t-bg-green-300 t-w-full t-h-screen">
            block content
        </div>

    </div>
</body>

</html>