<style>
    #btn-7 {
        border-radius: 50%;
        font-size: 15px;
        border: #363434 solid 1px;
        border: 5px solid transparent;
        transition: all 0.2s cubic-bezier(.10, .24, 0, 1);
    }

    #btn-7:hover {
        border-radius: 30%;
        transition: all 0.4s cubic-bezier(.10, .24, 0, 1);
    }

    #btn-8 {
        border-radius: 50%;
        font-size: 15px;
        border: #363434 solid 1px;
        border: 5px solid transparent;
        transition: all 0.2s cubic-bezier(.10, .24, 0, 1);
    }

    #btn-8:hover {
        border-radius: 30%;
        transition: all 0.4s cubic-bezier(.10, .24, 0, 1);
    }

    #btn-9 {
        border-radius: 50%;
        font-size: 15px;
        border: #363434 solid 1px;
        border: 5px solid transparent;
        transition: all 0.2s cubic-bezier(.10, .24, 0, 1);
    }

    #btn-9:hover {
        border-radius: 30%;
        transition: all 0.4s cubic-bezier(.10, .24, 0, 1);
    }

    #btn-10 {
        border-radius: 50%;
        font-size: 15px;
        border: #363434 solid 1px;
        border: 5px solid transparent;
        transition: all 0.2s cubic-bezier(.10, .24, 0, 1);
    }

    #btn-10:hover {
        border-radius: 30%;
        transition: all 0.4s cubic-bezier(.10, .24, 0, 1);
    }
</style>
<div class="t-bg-gray-900 t-flex t-flex-row t-w-full">
    <div id="side_scroll" class="t-overflow-x-auto">
        <ul class="t-text-center t-flex t-flex-row">
            <li>
                <a href="{% url 'chat:list' %}" class="nav-link" aria-current="page" title="" data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-original-title="Home">
                    <button id="btn-7" type="button"
                        class="hover:t-bg-teal-500 hover:t-text-white t-w-14 t-h-14 t-bg-green-400 t-text-white t-text-lg t-rounded-full">
                        <i class="fas fa-feather-alt fa-lg"></i>
                    </button>
                </a>
            </li>
            {% if user %}
            {% for room in user.part_server.all %}
            <li>
                <a href="{% url 'chat:detail' room.id %}" class="nav-link t-px-2" title="" data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-original-title="Customers">
                    <button id="btn-8" title="{{ room.name }}" type="button"
                        class="t-text-center t-flex  t-items-center t-justify-center t-overflow-hidden t-whitespace-nowrap hover:t-bg-teal-500 hover:t-text-white t-inline-block t-w-14 t-h-14 t-bg-gray-700 t-text-white t-rounded-full">
                        {{ room.name }}
                    </button>
                </a>
            </li>
            {% endfor %}
            {% endif %}
            <li>
                <a href="{% url 'chat:create' %}" class="nav-link t-px-2" aria-current="page" title="" data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-original-title="Home">
                    <span>
                        <button id="btn-9" type="button"
                            class="hover:t-bg-teal-500 hover:t-text-white t-w-14 t-h-14 t-bg-gray-700 t-text-green-400 t-rounded-full">
                            <i class="fas fa-plus fa-1x"></i>
                        </button>
                    </span>
                </a>
            </li>
            <li>
                <a href="{% url 'chat:my_server_list' %}" class="nav-link t-px-2" title="" data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-original-title="Customers">
                    <button id="btn-10" type="button"
                        class="hover:t-bg-teal-500 hover:t-text-white t-w-14 t-h-14 t-bg-gray-700 t-text-green-400 t-rounded-full">
                        <i class="fas fa-sign-out-alt fs-4"></i>
                    </button>
                </a>
            </li>
            <li>
                <a href="/" title="" class="nav-link t-px-2" data-bs-toggle="tooltip" data-bs-placement="right"
                    data-bs-original-title="Dashboard">
                    <button type="button"
                        class="hover:t-bg-teal-500 hover:t-text-white t-w-14 t-h-14 t-bg-gray-700 t-text-green-400 t-rounded-full"
                        id="btn-7">
                        <i class="fas fa-user-plus fa-1x"></i>
                    </button>
                </a>
            </li>
        </ul>
    </div>
</div>