<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'common.css' %}" type="text/css">
</head>
<body>
    <div class="t-flex-1 t-bg-gray-700 t-flex t-items-center t-justify-between t-px-4 t-border-b t-border-gray-900 t-fixed t-inset-x-0 t-top-0">
        <div class="t-flex t-items-center">
            <div class="t-text-gray-500 t-text-2xl">#</div>
            <div class="t-ml-2 t-text-sm t-text-white">general</div>
            <div class="t-border-l t-pl-3 t-ml-3 t-border-gray-600 t-text-xs t-text-gray-400 t-overflow-hidden t-whitespace-nowrap">general discussion of Tailwind CSS</div>
        </div>
        <div class="t-items-center t-hidden md:t-flex">
            <a href="#" class="t-ml-4">icon</a>
            <a href="#" class="t-ml-4">icon</a>
            <a href="#" class="t-ml-4">icon</a>
            <a href="#" class="t-ml-4">
                <form action="#" class="t-relative">
                    <input ype="text" placeholder="Search" class="t-rounded t-bg-gray-900 t-text-gray-200 t-text-xs t-px-2 t-py-1">
                    <span class="t-absolute t-right-0 t-top-0 t-mr-1 " style="top:2px">
                        <i class="fas fa-search"></i>
                    </span>
                </form>
            </a>
            <a href="#" class="t-ml-4">icon</a>
        </div>
    </div>
</body>
</html>