<!DOCTYPE html>
{% load static %}
{% load tags %}
<html lang="ko" data-theme="dark">

  <head>
    <title>Paracord</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Paracord</title>
    <link rel="stylesheet" href="{% static 'common.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>

    <link rel="shorticut icon" href="/favicon.ico"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/flowbite@1.3.3/dist/flowbite.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.3/dist/flowbite.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.25.4/dist/themes.css" rel="stylesheet" type="text/css"/>
  </head>
  {% block head %}{% endblock %}

  <body>
    <div class="flex">
      <div class="bg-gray-900 w-20 flex-none flex flex-col min-h-screen h-screen px-2 py-2">
        {% include "layout/sidebar.html" %}
      </div>
      <div class="flex flex-col min-h-screen h-screen flex-1">
        <div class="flex text-white h-12">
          <div class="bg-gray-800 w-56 flex-none flex items-center justify-between px-3 py-2 border-b border-gray-900">
            {% if room_detail %}
              {% if room.room_type == 'direct' %}
                <div>#
                  {{room.name|namefilter:user.nickname}}</div>
              {% else %}
                <div>#
                  {{ room.name }}</div>
              {% endif %}
              <button class="dropdown dropdown-end">
                <div tabindex="0">
                  <i class="fa-solid fa-gear"></i>
                  <ul tabindex="0" class="shadow menu dropdown-content rounded-box w-52 bg-gray-900 mt-4">
                    <li class="text-red-500">
                      <a href="{% url 'chat:exit_server' room.id %}">
                        서버나가기
                        <i class="fa-solid fa-door-open ml-20"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </button>
            {% endif %}
          </div>
          {% include "layout/header.html" %}
        </div>
        <div class="flex-1 flex overflow-y-hidden">
          {% include "layout/left_bar.html" %}
          <div class="bg-green-500 flex-1 flex justify-between">
            <div class="bg-gray-700 flex-1 flex flex-col justify-between">
              <div id="chat_scroll" class="text-sm text-gray-400 overflow-y-auto relative min-h-[50em]">
                {% include 'messages.html' %}
                {% block content%}{% endblock %}
              </div>
              {% block input %}{% endblock %}
            </div>
            {% if room_detail %}
              {% include "layout/right_bar.html" %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
  {% block foot %}{% endblock %}

</html>