
<div id="side_scroll" class="overflow-y-auto">
    <ul class="text-center">
        <li>
            <a href="{% url 'chat:list' %}" class="nav-link py-2" aria-current="page" title=""
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <button type="button"
                    class="w-14 h-14 mx-auto text-white text-lg transition-all duration-1000
                    bg-green-400 rounded-[50%] hover:bg-teal-500 hover:rounded-[30%]"
                    >
                    <i class="fas fa-feather-alt fa-lg"></i>
                </button>
                <div class="text-gray-500 font-semibold text-sm">Paracord</div>
            </a>
        </li>
        <li class="border-b border-gray-700 mx-4 mt-3">
        </li>
        {% if user.nickname %}
        {% for room in user.part_server.all %}
        {% if room.room_type == 'basic' %}
        <li class="nav-item w-100">
            <a href="{% url 'chat:detail' room.id %}" class="nav-link py-2 margin" title=""
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                <button title="{{ room.name }}" type="button"
                    class="flex items-center justify-center overflow-hidden whitespace-nowrap w-14 h-14 mx-auto mt-3 text-white transition-all hover:duration-[300ms] bg-gray-700 rounded-[50%] hover:bg-teal-500 hover:rounded-[30%]">
                    {{ room.name }}
                </button>
            </a>
        </li>
        {% endif %}
        {% endfor %}
        <li>
            {% include 'chat/modal/search_room_modal.html' %}
        </li>
        <li>
            {% include 'chat/modal/create_room_modal.html' %}
        </li>
        <li>
            <a href="{% url 'chat:my_server_list' %}" class="" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Customers">
                <button type="button"
                class="flex items-center justify-center overflow-hidden whitespace-nowrap w-14 h-14 mx-auto mt-3 text-green-400 transition-all hover:duration-[300ms] bg-gray-700 rounded-[50%] hover:text-white hover:bg-teal-500 hover:rounded-[30%]">
                <i class="fa-solid fa-house-user"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="{% url 'accounts:logout' %}" class="" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Customers">
                <button type="button"
                class="flex items-center justify-center overflow-hidden whitespace-nowrap w-14 h-14 mx-auto mt-3 text-green-400 transition-all hover:duration-[300ms] bg-gray-700 rounded-[50%] hover:text-white hover:bg-teal-500 hover:rounded-[30%]">
                <i class="fa-solid fa-right-from-bracket"></i>
                </button>
            </a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'accounts:login' %}" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Dashboard">
                <button type="button"
                class="flex items-center justify-center overflow-hidden whitespace-nowrap w-14 h-14 mx-auto mt-3 text-green-400 transition-all hover:duration-[300ms] bg-gray-700 rounded-[50%] hover:text-white hover:bg-teal-500 hover:rounded-[30%]">
                <i class="fa-solid fa-user"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="{% url 'accounts:signup' %}" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Dashboard">
                <button type="button"
                class="flex items-center justify-center overflow-hidden whitespace-nowrap w-14 h-14 mx-auto mt-3 text-green-400 transition-all hover:duration-[300ms] bg-gray-700 rounded-[50%] hover:text-white hover:bg-teal-500 hover:rounded-[30%]">
                <i class="fas fa-plus fa-1x"></i>
                </button>
            </a>
        </li>
        {% endif %}
    </ul>
</div>